*.orig
*.rej
*#
*~
.*.swp
*.o
.deps
.dirstamp

/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/stamp-h1
/version
/config.h
/compile
/config.h.in
/depcomp
/install-sh
/missing
/biosdevname.rules
/biosdevname.spec.fedora
/biosdevname.spec.suse
/INSTALL
/Makefile.in
/Makefile

/debian/files
/debian/vyatta-biosdevname
/debian/*.log
/debian/*.substvars

/src/biosdevname
/src/biosdevnameS

