Source: vyatta-biosdevname
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev, libpci-dev
Standards-Version: 3.7.2

Package: vyatta-biosdevname
Architecture: all
Depends: ${shlibs:Depends},
 libpci3,
 zlib1g,
 ${misc:Depends}
Pre-Depends:
Suggests:
Replaces:
Description: Vyatta version of the biosdevname utility.

